<template>
    <div class="chat" v-if="users.length > 0">
        <h4>tinkerchat</h4>
        <p v-for="m in messages" :key="m">{{m}}</p>
        <template v-if="totalOnline > 0">
            <input type="text" v-model="message">
            <button @click="sendMessage">Send</button>
        </template>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            // Peer connection
            message: "",
            queue: {}
        }
    },
    computed: {
      ...mapGetters({
        users: "users",
        totalOnline: "totalOnline",
        username: "username",
        channels: "channels",
        messages: "messages"
      }),
    },
    methods: {
        ...mapActions([
            "addChatMessage"
        ]),
        sendMessage() {
            if (this.message === "") return;

            const msg = `${this.username}: ${this.message}`;
            this.addChatMessage(msg);
            Object.keys(this.channels).forEach(channel => {
                this.sendToChannel(msg, channel);
            });
            this.message = "";
        },
        sendToChannel(msg, channel) {
            switch(this.channels[channel].readyState) {
                case "connecting":
                    console.log("Connection not open; queueing: " + msg);
                    if (this.queue[channel]) this.queue[channel].push(msg);
                    else this.queue[channel] = [msg];
                    break;
                case "open":
                    this.channels[channel].send('chat:'+msg);
                    break;
                case "closing":
                    console.log("Attempted to send message while closing: " + msg);
                    break;
                case "closed":
                    console.log("Error! Attempt to send while connection closed.");
                    break;
            }
        },
        sendQueueMsg() {
            Object.keys(this.channels).forEach(channel => {
                this.queue[channel].forEach((msg, index, object) => {
                    this.sendToChannel(msg, channel);
                    object.splice(index, 1);
                });
            });
        }
    },
}
</script>

<style lang="scss" scoped>
.chat {
    float: right;
    clear: right;
    width: 25%;
}
p {
    margin: 0;
    font-size: 12px;
}
</style>