<template>
<div >
    <h4>Paragraph</h4>
    <button @click="addParagraph">+ add</button>
    <paragraph v-for="p in listPars" :data="p"  v-bind:key="`${p.text}-${p._id}-${p._rev}`" />
    
</div>
</template>

<script>
import Paragraph from "~/components/Paragraph.vue";
import { mapGetters } from 'vuex';

export default {
    components: {
        Paragraph
    },
    pouch: {
        listPars() {
            return {
                database: this.$databases.paragraphs,
                sort: [{timestamp: "desc"}],
                selector: {}
            }
        }
    },
    methods: {
        addParagraph() {
            this.$pouch.post({
                text: "",
                timestamp: Date.now()
            });
        }
    }
}
</script>

<style>

</style>