<template>
  <div class="paragraph" contenteditable="true" @keyup="update">
    {{ paragraph.text }}
  </div>
</template>

<script>
import { mapActions,mapGetters } from 'vuex';

export default {
    props: ["data"],
    data() {
        return {
            timer: false,
            paragraph: this.data
        }
    },
    computed: {
        ...mapGetters({
            autoSyncRTC: "autoSyncRTC",
            updateRTCRecords: "updateRTCRecords",
            users: "users"
        })
    },
    methods: {
        ...mapActions(["syncRTCDb","syncRTCRecord"]),
        update(event) {
            if (this.timer) clearTimeout(this.timer);
            this.timer = setTimeout(() => {
                this.$pouch.get(this.paragraph._id).then(doc => {
                    const text = event.target.innerText;
                    const docUpdated = {
                        _id: this.paragraph._id,
                        _rev: doc._rev,
                        text,
                        timestamp: doc.timestamp,
                        updated: Date.now()
                    };
                    this.$pouch.put(docUpdated).then(doc => {
                        if (!this.autoSyncRTC) return;
                        if (!this.updateRTCRecords) {
                            this.syncRTCDb(this.users.map(u => u.name));
                        } else {
                            this.syncRTCRecord({
                                toUsers: this.users.map(u => u.name), 
                                doc: {
                                    _id: docUpdated._id,
                                    _rev: doc.rev,
                                    text,
                                    timestamp: docUpdated.timestamp,
                                    updated: docUpdated.updated
                                }
                            });
                        }
                    });
                });
            }, 800);
            
        },
    }
}
</script>

<style>
    .paragraph {
        text-align: center;
        width: 100%;
        border: 1px solid #c7d3e8;
        margin: 5px 0 5px 0;
    }
</style>