<template>
    <div class="socket">
        <template v-if="connected">
            <h2>Connected: {{username}}</h2>
            <h3 v-if="users.length">Online Users: {{ users.length }}</h3>
            <ul v-if="users.length">
                <li v-for="user in users" v-bind:key="user.id">
                    <user v-bind:data="user" />
                </li>
            </ul>
        </template>
        <template v-else>
            <input v-model="username" placeholder="username"/>
            <button @click="sendUser">Login</button>
        </template>
        
    </div>
</template>

<script>
import User from "./Socket/User";
import Chat from "./Chat";
import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
    sockets: {
        connect: () => {
            
        }
    },
    components: {
        User,
        Chat
    },
    data() {
        return {
            username: ""
        };
    },
    computed: {
      ...mapGetters({
        users: "users",
        connected: "connected",
        socketId: "socketId"
      }),
    },
    methods: {
        ...mapMutations({
            setUsername: "setUsername",
        }),
        ...mapActions(["connectToOthers"]),
        sendUser() {
            this.setUsername(this.username);
            this.connectToOthers();
            this.$socket.client.emit('connectuser', { name: this.username });
        }
    }
}
</script>

<style lang="scss" scoped>
.socket {
    float:right;
    border: 1px solid #ccc;
    padding: 5px;
    width: 25%;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 15px;
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    border-top: 1px solid #ccc;
    border-bottom: none;
}
</style>