<template>
  <div>
      <label>{{data.name}}</label> 
      <div v-if="data.isOnline" class="status online">Online</div>
      <div v-if="!data.isOnline" class="status offline">Offline</div>
      <button v-if="data.isOnline" @click="syncLocalDb">SendDb</button>

  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    props: ["data"],
    methods: {
      ...mapActions(["syncRTCDb"]),
      syncLocalDb() {
        this.syncRTCDb([ this.data.name ]);
      }
    }
}
</script>

<style lang="scss" scoped>
.status {
  display: inline;
  font-size: 10px;
  color: aliceblue;
  padding: 4px;
  &.online {
    background: green;
  }

  &.offline {
    background: red;
  }
}

button {
  font-size: 10px;
}
</style>