<template>
    <div>
      <socket />
      <template v-if="connected">
        <chat />
        <div class="center">
          <div class="couchdb connected" v-if="remoteSync">
            <div>CouchDB Connected</div>
            <button @click="disconnectRemote">Disconnect</button>
          </div>
          <div class="couchdb disconnected" v-if="!remoteSync">
            <div>CouchDB Disconnected</div>
            <button @click="reconnectRemote">Connect</button>
          </div>

          <template v-if="totalOnlineRTC > 0">
              <hr>
              <div class="left">
                <div v-if="autoSync" class="autosync on">
                  <div>AutoSync Webrtc On</div> <button @click="disableAutoSync">Disable</button>
                </div>
                <div v-else class="autosync off">
                  <div>AutoSync Webrtc Off</div>  <button @click="enableAutoSync">Enable</button>
                </div>
              </div>
              <div class="left" v-if="autoSync">
                <div v-if="!updateRTCRecords" class="autosync on">
                  <div>Full Database</div> <button @click="updateRecords">Update Records</button>
                </div>
                <div v-else class="autosync off">
                  <div>Update Records</div>  <button @click="updateFullDb">Update Full DB</button>
                </div>
              </div>

              <p>Send updates to other users</p>
              <hr>
            </template>
          <list />
        </div>
      </template>
    </div>
</template>

<script>
import Socket from "~/components/Socket.vue";
import Chat from "~/components/Chat.vue";
import List from "~/components/List.vue";
import { mapGetters,mapActions } from 'vuex';

export default {
  components: {
    Socket,
    Chat,
    List
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
        connected: "connected",
        remoteSync: "remoteSync",
        totalOnlineRTC: "totalOnline",
        autoSync: "autoSyncRTC",
        updateRTCRecords: "updateRTCRecords"
    }),
  },
  methods: {
    ...mapActions(["connectDb", "disconnectDb", "autoSyncRTC","switchUpdateRTCRecords"]),
    disconnectRemote() {
      this.disconnectDb();
    },
    reconnectRemote() {
      this.connectDb();
    },
    disableAutoSync() {
      this.autoSyncRTC(false);
    },
    enableAutoSync() {
      this.autoSyncRTC(true);
    },
    updateRecords() {
      this.switchUpdateRTCRecords(true);
    },
    updateFullDb() {
      this.switchUpdateRTCRecords(false);
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 20px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.center {
  width:70%;
  text-align: center;
}
.left {
  display: inline-block;
}

.couchdb, .autosync {
  button {
    margin-left: 5px;
  }
  div {
    display: inline;
    padding: 5px;
    color:honeydew;
    margin-left:10px;
  }
  &.connected,
  &.on {
    div {
      background: green;
    }
  }

  &.disconnected,
  &.off {
    div {
      background: orangered;
    }
  }
}
</style>
